{% extends 'header.html' %}

{% block title %}Histórico{% endblock %}
{% block content %}

<div class="container">
  <h3>Histórico de Eventos</h3>
  <div class="m-3">
    <!-- <button type="button" class="apple-button" data-toggle="modal" data-target="#novoEventoModal">Novo Evento</button> -->
  </div>

  <div class="container p-3 apple-border apple-table">
    <table id="eventosTable" class="table table-striped table-bordered" style="width: 100%;">
      <thead>
        <tr>
          <th>ID</th >
          <!-- <th>ID Equipamento</th > -->
          <th>Pessoa</th >
          <th>CPF</th >
          <!-- <th>Imagem</th> -->
          <!-- <th>JSON</th> -->
          <th>Direção</th >
          <th>Retificação</th >
          <th>Data do Evento</th >

        </tr>
      </thead>
      <tbody>
        {% for evento in eventos %}
        <tr data-toggle="modal" data-target="#eventoModal" 
            data-id="{{evento.id}}"
            data-id_equipamento="{{ evento.id_equipamento }}" 
            data-imagem_path="{{ evento.imagem_path }}" 
            data-json="{{ evento.json }}" 
            data-direcao="{{ evento.direcao }}" 
            data-retificacao="{{ evento.retificacao }}" 
            data-data_cadastro="{{ evento.created_at }}" 
            data-data_modificacao="{{ evento.updated_at }}"
            data-id="{{ evento.id }}"
            {% if evento.retificacao == 'Y' %}
              class="table-warning"
            {% endif %}
            >
          <td>{{ evento.id }}</td>
          <!-- <td>{{ evento.id_equipamento }}</td> -->
          <td>{{ evento.pessoa }}</td>
          <td>{{ evento.cpf }}</td>
          <!-- <td>{{ evento.imagem_path }}</td> -->
          <!-- <td>{{ evento.json }}</td> -->
          <td>{{ evento.direcao }}</td>
          <td>{{ evento.retificacao }}</td>
          <td>{{ evento.created_at }}</td>
          <!-- <td>{{ evento.updated_at }}</td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'footer.html' %}
{% endblock %}