{% extends 'header.html' %}

{% block title %}Home{% endblock %}
{% block content %}

<div class="custon-container">
    <div class="row">
        <div class="col-md-4">
            <div class="card apple-card">
                <div class="card-body">
                    <h5 class="card-title">Pessoas Liberadas</h5>
                    <p class="card-text">Número pessoas com permissão para acessar.</p>
                    <h1 class="card-text" id="pessoas-liberadas">{{ dashboard.pessoas_liberadas }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card apple-card">
                <div class="card-body">
                    <h5 class="card-title">Total Acessos</h5>
                    <p class="card-text">Total de acessos realizados.</p>
                    <h1 class="card-text" id="total-acessos">{{ dashboard.total_acessos }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card apple-card">
                <div class="card-body">
                    <h5 class="card-title">Eventos de Antipassback</h5>
                    <p class="card-text">Número de eventos de Antipassback registrados.</p>
                    <h1 class="card-text" id="antipassback-count">{{ dashboard.eventos_antipassback }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card apple-card">
                <div class="card-body">
                    <h5 class="card-title">Pessoas no Terminal</h5>
                    <p class="card-text">Número de pessoas no terminal agora.</p>
                    <h1 class="card-text" id="pessoas-terminal">{{ dashboard.pessoas_terminal }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card apple-card">
                <div class="card-body">
                    <h5 class="card-title">Veículos no Terminal</h5>
                    <p class="card-text">Número de veículos no terminal agora.</p>
                    <h1 class="card-text" id="veiculos-terminal">{{ dashboard.veiculos_terminal }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card apple-card">
                <div class="card-body">
                    <h5 class="card-title">Último Acesso</h5>
                    <p class="card-text">Data e hora do último acesso registrado.</p>
                    <h5 class="card-text" id="ultimo-acesso-pessoa">{{ evento.pessoa }}</h5>
                    <h class="card-text" id="ultimo-acesso-data">{{ evento.updated_at.strftime("%d/%m/%Y %H:%M:%S") }}</h>
                                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
