{% extends 'header.html' %}

{% block title %}Operacional{% endblock %}
{% block content %}

<div class="geral-body">

    <div class="operacional-container">

        <!-- Adicionar o div para o alert de sucesso -->
        <div id="alert-success" class="alert alert-success alert-dismissible fade show" role="alert"
            style="position: absolute; top: 60px; left: 50%; transform: translateX(-50%);">
            <span id="alert-success-json">Usando a Contingencia para Entrada e Saída...</span>

        </div>


        <div class="apple-form" id="foto" style="position: absolute; top: 80px; left: 20px; font-size: 16px;">
            <img id="foto-img" src="{{ url_for('static', filename='images/contingencia.png') }}" alt=""
                style="width: 100%; border-radius: 10px; display: block; margin: 0 auto;">
            <!-- Adiciona o id "foto-img" -->
        </div>

        <div class="apple-form" id="direcao" style="position: absolute; top: 80px; right: 20px; font-size: 12px;"
            hidden>
            <select id="tipo" class="apple-input" style="text-align: center;" onchange="atualizarFilaBalanca()">
                <option value="0" selected>SELECIONE UMA DIREÇÃO: </option>
                <option value="1">ENTRADA DE VEÍCULOS</option>
                <option value="2">SAÍDA DE VEÍCULOS</option>
            </select>
        </div>
        <!-- Adicionar o div para a data/hora no canto direito -->
        <!-- <div class="apple-form" id="datetime" style="position: absolute; top: 60px; right: 20px; font-size: 30px;">
        </div> -->

        <div class="apple-form" id="placa_detectada"
            style="position: absolute; top: 285px; right: 20px; font-size: 16px;">

            <img id="placa_frontal-img" src="{{ url_for('static', filename='images/contingencia.png') }}" alt=""
                style="width: 100%; border-radius: 10px; display: block; margin: 0 auto;">
            <div class="m-3">
                <!-- <label for="placa" class="mr-2">Placa detectada: </label> -->
            </div>
            <div class="m-3 d-flex align-items-center" id="placa_ocr">
                <input type="text" class="apple-input flex-grow-1" id="placa" style="display: none;" value="" readonly>
            </div>

        </div>

        <div class="btn-group"
            style="position: fixed; bottom: 60px; left: 50%; transform: translateX(-50%); font-size: 16px;">
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" onclick="verificarCpfEntrada()">
                Entrando
            </button>
            <button type="button" id="ver_balanca" class="btn btn-danger btn-lg" data-toggle="modal"
                onclick="verificarCpfSaida()">
                Saindo
            </button>
        </div>

        <!-- Modal de Alerta para Entrada de Veículo -->
        <div class="modal fade" id="entradaVeiculoModal" tabindex="-1" role="dialog"
            aria-labelledby="entradaVeiculoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="entradaVeiculoModalLabel">Confirmar Entrada de Veículo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Você deseja dar a entrada deste veículo?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="confirmarEntrada"
                            onclick="enviarEventoContingencia('IN')">Confirmar Entrada</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="placaModal" tabindex="-1" role="dialog" aria-labelledby="placaModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="placaModalLabel">Confirmar Saída do Veículo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Você deseja dar saída neste veículo?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="confirmarSaida"
                            onclick="enviarEventoContingencia('OUT')">Confirmar Saída</button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <form method="POST" class="form-largo" action="/programacoes/cpf">

                <!-- Campo CPF ocupando uma coluna inteira -->
                <div class="form-group cpf-full">
                    <label for="cpf">CPF:</label>
                    <input type="text" class="apple-input" id="cpf" name="cpf" required readonly="true">
                </div>

                <div class="form-group">
                    <label for="pessoa">Pessoa:</label>
                    <select class="apple-input" id="pessoa" name="pessoa" required>
                        <option value="" selected disabled>Selecione uma pessoa</option>
                        {% for item in programacao %}
                        <option value="{{ item.id }}" data-pessoa-nome="{{ item.pessoa }}"
                            data-datahora-inicio="{{ item.datahora_inicio }}"
                            data-datahora-fim="{{ item.datahora_fim }}" data-cavalo="{{ item.cavalo }}"
                            data-carreta="{{ item.carreta }}" data-cpf="{{ item.cpf }}">
                            {{ item.pessoa }} - ID: {{ item.id }} - Cavalo: {{ item.cavalo }} - Carreta: {{ item.carreta
                            }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Grid para os outros campos -->
                <div class="form-grid">
                    <div class="form-group">
                        <label for="cavalo">Cavalo/Frontal:</label>
                        <input type="text" class="apple-input" id="cavalo" name="cavalo"
                            value="{{ programacao.cavalo }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="carretas">Carreta(s)/Traseira:</label>
                        <input type="text" class="apple-input" id="carretas" name="carretas"
                            value="{{ programacao.carreta }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inicio_programacao">Início da Programação:</label>
                        <input type="datetime-local" class="apple-input" id="inicio_programacao"
                            name="inicio_programacao" value="{{ programacao.datahora_inicio }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="final_programacao">Final da Programação:</label>
                        <input type="datetime-local" class="apple-input" id="final_programacao" name="final_programacao"
                            value="{{ programacao.datahora_fim }}" readonly>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    document.addEventListener("DOMContentLoaded", function () {
        const selectPessoa = document.getElementById("pessoa");

        selectPessoa.addEventListener("change", function () {
            const opcao = selectPessoa.options[selectPessoa.selectedIndex]; // Obtém a opção selecionada

            document.getElementById("cpf").value = opcao.getAttribute("data-cpf") || "";
            document.getElementById("cavalo").value = opcao.getAttribute("data-cavalo") || "";
            document.getElementById("carretas").value = opcao.getAttribute("data-carreta") || "";
            document.getElementById("inicio_programacao").value = opcao.getAttribute("data-datahora-inicio") || "";
            document.getElementById("final_programacao").value = opcao.getAttribute("data-datahora-fim") || "";

            // alert("ID selecionado: " + opcao.value);
        });
    });

    // Adiciona um listener de evento para o campo CPF
    document.getElementById('cpf').addEventListener('input', function () {
        var cpf = this.value;

        // Verifica se o CPF tem 11 dígitos
        if (cpf.length === 11) {
            // Chama a função para buscar os dados da programação
            buscarProgramacao(cpf);
        }
    });

    // Adiciona um listener de evento para o campo placa
    document.getElementById('placa').addEventListener('input', function () {
        var placa = this.value;
        var cavalo = document.getElementById('cavalo').value;
        // var status = document.getElementById('status');

        if (placa === cavalo) {
            document.getElementById('placa').style.borderColor = 'green'; // Adiciona contorno verde
            document.getElementById('placa').style.borderWidth = '5px'; // Define a largura da borda como 5px
            document.getElementById('placa').style.borderStyle = 'solid'; // Define o estilo da borda como sólido
        } else {
            document.getElementById('placa').style.borderColor = 'red'; // Adiciona contorno vermelho
            document.getElementById('placa').style.borderWidth = '5px'; // Define a largura da borda como 5px
            document.getElementById('placa').style.borderStyle = 'solid'; // Define o estilo da borda como sólido
        }
    });

    // Verifica o status da placa ao carregar a página
    var placa = document.getElementById('placa').value;
    var cavalo = document.getElementById('cavalo').value;
    // var status = document.getElementById('status');

    if (placa == cavalo) {
        document.getElementById('placa').style.borderColor = 'green'; // Adiciona contorno verde
        document.getElementById('placa').style.borderWidth = '5px'; // Define a largura da borda como 5px
        document.getElementById('placa').style.borderStyle = 'solid'; // Define o estilo da borda como sólido
    } else {
        document.getElementById('placa').style.borderColor = 'red'; // Adiciona contorno verde
        document.getElementById('placa').style.borderWidth = '5px'; // Define a largura da borda como 5px
        document.getElementById('placa').style.borderStyle = 'solid'; // Define o estilo da borda como sólido
    }

    function verificarCpfEntrada() {
        var cpf = document.getElementById('cpf').value;
        if (cpf === '') {
            alert('Por favor, selecione uma programação antes de confirmar a entrada.');
            return; // Impede a abertura do modal
        }
        $('#entradaVeiculoModal').modal('show');
    }

    function verificarCpfSaida() {
        var cpf = document.getElementById('cpf').value;
        if (cpf === '') {
            alert('Por favor, selecione uma programação antes de confirmar a saída.');
            return; // Impede a abertura do modal
        }
        $('#placaModal').modal('show');
    }

    function abrirModalMotorista() {
        $('#motoristaModal').modal('show'); // Abre o modal do motorista
    }

    function zoomIn(element) {
        element.style.transform = 'scale(3)';
        element.style.transition = 'transform 0.3s ease';
        element.style.cursor = 'zoom-out';
        element.style.position = 'relative';
        element.style.zIndex = '1000';
    }

    function zoomOut(element) {
        element.style.transform = 'scale(1)';
        element.style.transition = 'transform 0.3s ease';
        element.style.cursor = 'zoom-in';
        element.style.zIndex = 'auto';
    }

    function atualizarFilaBalanca() {
        // updateCPF();
        var direcao = document.getElementById('tipo').value;
        fetch(`/fila_balanca?direcao=${direcao}`)
            .then(response => response.json())
            .then(data => {
                // Atualizar a interface com os dados recebidos
                console.log(data);
            })
            .catch(error => console.error('Erro ao atualizar a fila:', error));
        // updateCPF();
    }

    function verificarDirecao() {
        var direcaoSelecionada = document.getElementById('tipo').value;

        fetch(`/verificar_direcao?direcao=${direcaoSelecionada}`)
            .then(response => response.json())
            .then(data => {
                console.log('Data Disponivel: ', data.disponivel); // Adiciona log para depuração
                // Verifica se a propriedade 'disponivel' está correta
                var select = document.getElementById('tipo');
                if (data && !data.disponivel) {
                    alert('A direção selecionada já está em uso por outra pessoa.');
                    document.getElementById('tipo').value = ""; // Reseta a seleção
                } else {
                    // Muda a posição das opções no select com base no valor de 'disponivel'
                    if (data.disponivel === 2) {
                        select.innerHTML = `
                            <option value="2">SAÍDA DE VEÍCULOS</option>
                            <option value="1">ENTRADA DE VEÍCULOS</option>
                        `;
                    } else if (data.disponivel === 1) {
                        select.innerHTML = `
                            <option value="1">ENTRADA DE VEÍCULOS</option>
                            <option value="2">SAÍDA DE VEÍCULOS</option>
                        `;
                    }
                }
            })
            .catch(error => console.error('Erro ao verificar a direção:', error));
    }

    // Função para buscar os dados da programação
    function buscarProgramacao(cpf) {
        // Envia a requisição AJAX para buscar os dados da programação
        fetch('/programacoes/cpf', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token() }}' // Adicione isto se usar CSRF no Flask
            },
            body: JSON.stringify({ cpf: cpf })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // Preenche os campos com os dados retornados
                    document.getElementById('pessoa').value = data.programacao.pessoa;
                    document.getElementById('cavalo').value = data.programacao.cavalo;
                    document.getElementById('carretas').value = data.programacao.carreta;
                    document.getElementById('inicio_programacao').value = data.programacao.datahora_inicio;
                    document.getElementById('final_programacao').value = data.programacao.datahora_fim;
                    // Habilita o botão "Liberar Acesso"
                    document.getElementById('liberar-acesso').disabled = false;

                } else {
                    // Limpa os campos
                    document.getElementById('pessoa').value = '';
                    document.getElementById('cavalo').value = '';
                    document.getElementById('carretas').value = '';
                    document.getElementById('inicio_programacao').value = '';
                    document.getElementById('final_programacao').value = '';
                    // Desabilita o botão "Liberar Acesso"
                    document.getElementById('liberar-acesso').disabled = true;

                }
            })
            .catch(error => {
                console.error('Erro:', error);
            });
    }
    // Função para atualizar o campo placa com o conteúdo do arquivo placa.txt
    function updatePlaca() {
        fetch('/placa_frontal') // Use '/placa.txt' para acessar o arquivo
            .then(response => response.text())
            .then(data => {
                document.getElementById('placa').value = data;
                // Verifica o status da placa após a atualização
                var placa = document.getElementById('placa').value;
                var cavalo = document.getElementById('cavalo').value;
                if (placa === cavalo) {
                    document.getElementById('placa').style.borderColor = 'green'; // Adiciona contorno verde
                    document.getElementById('placa').style.borderWidth = '5px'; // Define a largura da borda como 5px
                    document.getElementById('placa').style.borderStyle = 'solid'; // Define o estilo da borda como sólido
                } else {
                    document.getElementById('placa').style.borderColor = 'red'; // Adiciona contorno vermelho
                    document.getElementById('placa').style.borderWidth = '5px'; // Define a largura da borda como 5px
                    document.getElementById('placa').style.borderStyle = 'solid'; // Define o estilo da borda como sólido
                }
            })
            .catch(error => {
                console.error('Erro ao atualizar placa:', error);
                document.getElementById('placa').value = 'N/A'; // Se não encontrar a placa, define o valor como 'Não Encontrado'
            });
    }
    // Função para atualizar o campo placa da balança com o conteúdo do arquivo placa.txt
    function updatePlacaBalanca() {
        fetch('/placas_balanca')
            .then(response => response.json()) // Alterado para response.json() para tratar o JSON
            .then(data => {
                // Define o valor dos inputs com os dados do JSON
                document.getElementById('placa_traseira_balanca').value = data.placa_traseira;
                document.getElementById('placa_frontal_balanca').value = data.placa_frontal;

                var pessoa = document.getElementById('pessoa').value;
                var facialBalanca = document.getElementById('facial-balanca').value;

                if (facialBalanca === pessoa) {
                    document.getElementById('facial-balanca').style.borderColor = 'green';
                    document.getElementById('facial-balanca').style.borderWidth = '5px';
                    document.getElementById('facial-balanca').style.borderStyle = 'solid';
                } else {
                    document.getElementById('facial-balanca').style.borderColor = 'red';
                    document.getElementById('facial-balanca').style.borderWidth = '5px';
                    document.getElementById('facial-balanca').style.borderStyle = 'solid';
                }

                var cavalo = document.getElementById('cavalo').value;
                var carretas = document.getElementById('carretas').value;
                var placa_frontal_balanca = document.getElementById('placa_frontal_balanca').value;
                var placa_traseira_balanca = document.getElementById('placa_traseira_balanca').value;

                // Adiciona a verificação e o alerta de sucesso
                if (placa_frontal_balanca === cavalo && placa_traseira_balanca === carretas) {
                    document.getElementById('programacao-id').innerText = '';
                    document.getElementById('programacao-id-in').innerText = '';
                    // updateCPF();
                    // alert('As placas conferem com a programação!');
                    document.getElementById('alert-success-balanca').innerText = 'As placas conferem com a programação!';
                    document.getElementById('alert-success-balanca').style.display = 'block'; // Mostra o alerta
                    document.getElementById('alert-danger-balanca').style.display = 'none'; // Mostra o alerta

                    setTimeout(function () {
                        $('#alert-success').hide(); // Esconde o alerta após 3 segundos
                    }, 500);

                } else {
                    // updateCPF();
                    document.getElementById('alert-success-balanca').style.display = 'none'; // Mostra o alerta
                    document.getElementById('alert-danger-balanca').innerText = 'Acesso divergente da programação!';
                    document.getElementById('alert-danger-balanca').style.display = 'block'; // Mostra o alerta
                }

                if (placa_frontal_balanca === cavalo) {
                    document.getElementById('placa_frontal_balanca').style.borderColor = 'green'; // Adiciona contorno verde
                    document.getElementById('placa_frontal_balanca').style.borderWidth = '5px'; // Define a largura da borda como 5px
                    document.getElementById('placa_frontal_balanca').style.borderStyle = 'solid'; // Define o estilo da borda como sólido
                } else {
                    document.getElementById('placa_frontal_balanca').style.borderColor = 'red'; // Adiciona contorno vermelho
                    document.getElementById('placa_frontal_balanca').style.borderWidth = '5px'; // Define a largura da borda como 5px
                    document.getElementById('placa_frontal_balanca').style.borderStyle = 'solid'; // Define o estilo da borda como sólido
                }

                if (placa_traseira_balanca === carretas) {
                    document.getElementById('placa_traseira_balanca').style.borderColor = 'green'; // Adiciona contorno verde
                    document.getElementById('placa_traseira_balanca').style.borderWidth = '5px'; // Define a largura da borda como 5px
                    document.getElementById('placa_traseira_balanca').style.borderStyle = 'solid'; // Define o estilo da borda como sólido
                } else {
                    document.getElementById('placa_traseira_balanca').style.borderColor = 'red'; // Adiciona contorno vermelho
                    document.getElementById('placa_traseira_balanca').style.borderWidth = '5px'; // Define a largura da borda como 5px
                    document.getElementById('placa_traseira_balanca').style.borderStyle = 'solid'; // Define o estilo da borda como sólido
                }

            })
            .catch(error => {
                console.error('Erro ao atualizar placa:', error);
                document.getElementById('placa_traseira_balanca').value = 'N/A';
                document.getElementById('placa_frontal_balanca').value = 'N/A';
            });
    }

    function novaFotoPlacaFrontal() {
        // Desabilita o botão e mostra o ícone de carregamento
        const button = document.getElementById('new_foto_placa_frontal');
        const loadingIcon = document.getElementById('loading-icon');
        const cameraIcon = document.getElementById('camera-icon');

        button.disabled = true;
        loadingIcon.style.display = 'inline-block';
        cameraIcon.style.display = 'none';


        fetch('/new_foto_placa_frontal', { method: 'GET' })
            .then(response => {
                if (response.ok) {
                    return response.json(); // Aguarda a resposta JSON
                } else {
                    console.error('Erro ao tirar nova foto:', response.status);
                    return Promise.reject('Erro ao tirar nova foto');
                }
            })
            .then(data => { // Executa após receber a resposta JSON
                console.log('Resposta do servidor:', data);
                // updateCPF(); // Chama updateCPF após o retorno da requisição
            })
            .catch(error => {
                console.error('Erro ao tirar nova foto:', error);
            })
            .finally(() => {
                // Habilita o botão, esconde o ícone de carregamento e mostra o ícone da câmera após o retorno
                button.disabled = false;
                loadingIcon.style.display = 'none';
                cameraIcon.style.display = 'inline-block';
            });
    }

    function aprovarPlacaManualmente() {
        const cavalo = document.getElementById('cavalo').value;
        // Envia a requisição POST para /placa_manual
        fetch('/placa_manual', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded', // Define o cabeçalho corretamente
                'X-CSRFToken': '{{ csrf_token() }}' // Inclui o token CSRF se estiver usando
            },
            body: `placa=${cavalo}` // Envia a placa como dados do formulário
        })
            .then(response => {
                if (response.ok) {
                    console.log('Placa gravada com sucesso!');
                    // Adicione aqui o código para atualizar a interface, se necessário
                    updatePlaca(); // Atualiza o campo 'placa' na interface
                } else {
                    console.error('Erro ao gravar a placa:', response.status);
                    // Adicione aqui o código para tratar o erro na interface, se necessário
                }
            })
            .catch(error => {
                console.error('Erro ao gravar a placa:', error);
                // Adicione aqui o código para tratar o erro na interface, se necessário
            });
    }

    function novasFotosPlacasBalanca() {
        // Desabilita o botão e mostra o ícone de carregamento
        const button = document.getElementById('new_foto_placa_traseira_balanca');
        const loadingIcon = document.getElementById('loading-icon-traseira');
        const cameraIcon = document.getElementById('camera-icon-traseira');

        button.disabled = true;
        loadingIcon.style.display = 'inline-block';
        cameraIcon.style.display = 'none';

        fetch('/new_foto_placas_balanca', { method: 'GET' })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    console.error('Erro ao tirar nova foto:', response.status);
                    return Promise.reject('Erro ao tirar nova foto');
                }
            })
            .then(data => {
                console.log('Resposta do servidor:', data);
                // Atualize a interface com a nova foto, se necessário.
                // Sugestão: chame uma função para atualizar a imagem, similar a updateCPF().
                // updateCPF(); // Exemplo: atualiza a interface após tirar a foto.
            })
            .catch(error => {
                console.error('Erro ao tirar nova foto:', error);
            })
            .finally(() => {
                // Habilita o botão e esconde o ícone de carregamento
                button.disabled = false;
                loadingIcon.style.display = 'none';
                cameraIcon.style.display = 'inline-block';
            });
    }

    function aprovarPlacaManualmenteBalanca() {
        const cavalo = document.getElementById('cavalo').value;
        const carretas = document.getElementById('carretas').value;
        // Aqui você precisa obter o valor da placa traseira.  Como não há um campo para isso na interface, você precisará defini-lo de alguma forma.
        // Por exemplo, se a placa traseira for sempre a mesma, você pode defini-la diretamente:

        // Envia a requisição POST para /placa_manual_balanca
        fetch('/placa_manual_balanca', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token() }}' // Inclui o token CSRF se estiver usando
            },
            body: `placa_frontal=${cavalo}&placa_traseira=${carretas}` // Envia ambas as placas
        })
            .then(response => {
                if (response.ok) {
                    console.log('Placas gravadas com sucesso!');
                    // Adicione aqui o código para atualizar a interface, se necessário
                    updatePlacaBalanca(); // Atualiza as placas na interface

                } else {
                    console.error('Erro ao gravar as placas:', response.status);
                    // Adicione aqui o código para tratar o erro na interface, se necessário
                }
            })
            .catch(error => {
                console.error('Erro ao gravar as placas:', error);
                // Adicione aqui o código para tratar o erro na interface, se necessário
            });
    }

    function aprovarPlacaFrontalManualmenteBalanca() {
        const cavalo = document.getElementById('cavalo').value;
        const carretas = document.getElementById('carretas').value;
        // Aqui você precisa obter o valor da placa traseira.  Como não há um campo para isso na interface, você precisará defini-lo de alguma forma.
        // Por exemplo, se a placa traseira for sempre a mesma, você pode defini-la diretamente:

        // Envia a requisição POST para /placa_manual_balanca
        fetch('/placa_frontal_manual_balanca', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token() }}' // Inclui o token CSRF se estiver usando
            },
            body: `placa_frontal=${cavalo}&placa_traseira=${carretas}` // Envia ambas as placas
        })
            .then(response => {
                if (response.ok) {
                    console.log('Placas gravadas com sucesso!');
                    // Adicione aqui o código para atualizar a interface, se necessário
                    updatePlacaBalanca(); // Atualiza as placas na interface

                } else {
                    console.error('Erro ao gravar as placas:', response.status);
                    // Adicione aqui o código para tratar o erro na interface, se necessário
                }
            })
            .catch(error => {
                console.error('Erro ao gravar as placas:', error);
                // Adicione aqui o código para tratar o erro na interface, se necessário
            });
    }

    function aprovarPlacaTraseiraManualmenteBalanca() {
        const cavalo = document.getElementById('cavalo').value;
        const carretas = document.getElementById('carretas').value;
        // Aqui você precisa obter o valor da placa traseira.  Como não há um campo para isso na interface, você precisará defini-lo de alguma forma.
        // Por exemplo, se a placa traseira for sempre a mesma, você pode defini-la diretamente:

        // Envia a requisição POST para /placa_manual_balanca
        fetch('/placa_traseira_manual_balanca', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token() }}' // Inclui o token CSRF se estiver usando
            },
            body: `placa_frontal=${cavalo}&placa_traseira=${carretas}` // Envia ambas as placas
        })
            .then(response => {
                if (response.ok) {
                    console.log('Placas gravadas com sucesso!');
                    // Adicione aqui o código para atualizar a interface, se necessário
                    updatePlacaBalanca(); // Atualiza as placas na interface

                } else {
                    console.error('Erro ao gravar as placas:', response.status);
                    // Adicione aqui o código para tratar o erro na interface, se necessário
                }
            })
            .catch(error => {
                console.error('Erro ao gravar as placas:', error);
                // Adicione aqui o código para tratar o erro na interface, se necessário
            });
    }

    function atualizarFilaMotoristas() {

        var direcaoSelecionada = document.getElementById('tipo').value; // Obtém a direção selecionada

        fetch(`/fila_motoristas_pesar?direcao=${direcaoSelecionada}`)

            .then(response => response.json())
            .then(data => {
                // Cria a tabela com classes Bootstrap
                let table = document.createElement('table');
                table.classList.add('table', 'table-striped', 'table-hover');
                table.id = 'motoristasTable'; // Adiciona um ID à tabela

                let thead = table.createTHead();
                let row = thead.insertRow();
                ['ID', 'Direção', 'Motorista', 'CPF', 'Data/Hora'].forEach(header => {
                    let th = document.createElement('th');
                    th.textContent = header;
                    row.appendChild(th);
                });

                let tbody = table.createTBody();
                data.forEach(item => {
                    let row = tbody.insertRow();
                    ['id', 'direcao', 'pessoa', 'cpf', 'created_at'].forEach(key => {
                        let cell = row.insertCell();
                        let text = document.createTextNode(item[key] || '');
                        cell.appendChild(text);
                    });
                });

                let filaMotoristasDiv = document.getElementById('fila-motoristas');
                filaMotoristasDiv.innerHTML = '';
                filaMotoristasDiv.appendChild(table);

                // Inicializa o DataTables com ordenação desabilitada
                $(`#motoristasTable`).DataTable({
                    "order": [], // Desabilita a ordenação inicial
                    "pageLength": 5 // Define o número de entradas por página
                });

                // Verifica se a fila está vazia
                if (data.length === 0) {
                    // Fecha o modal se estiver aberto
                    $('#placaModal').modal('hide');
                }
            })
            .catch(error => {
                console.error('Erro ao atualizar a fila de motoristas:', error);
                document.getElementById('fila-motoristas').innerHTML = '<p>Erro ao carregar a fila.</p>';
            });
    }

    function atualizarProgramacoesMotorista(cpf) {
        fetch('/programacoes/cpf', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token() }}' // Adicione isto se usar CSRF no Flask
            },
            body: JSON.stringify({ cpf: cpf })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // Cria a tabela com classes Bootstrap
                    let table = document.createElement('table');
                    table.classList.add('table', 'table-striped', 'table-hover');
                    table.id = 'programacoesTable'; // Adiciona um ID à tabela

                    let thead = table.createTHead();
                    let row = thead.insertRow();
                    ['ID', 'Motorista', 'Cavalo', 'Carreta', 'Final'].forEach(header => {
                        let th = document.createElement('th');
                        th.textContent = header;
                        row.appendChild(th);
                    });

                    let tbody = table.createTBody();
                    data.programacoes_validas.forEach(programacao => {
                        let row = tbody.insertRow();
                        row.innerHTML = `
                            <td>${programacao.id || ''}</td>
                            <td>${programacao.pessoa || ''}</td>
                            <td>${programacao.cavalo || ''}</td>
                            <td>${programacao.carreta || ''}</td>
                            <td>${programacao.datahora_fim || ''}</td>
                        `;

                        // Adiciona evento de clique na linha
                        row.addEventListener('click', () => {
                            // Remove a classe de seleção de todas as linhas
                            const rows = tbody.getElementsByTagName('tr');
                            for (let r of rows) {
                                r.classList.remove('selected-row');
                            }
                            // Adiciona a classe de seleção à linha clicada
                            row.classList.add('selected-row');
                            // Atualiza o ID da programação selecionada
                            document.getElementById('programacao-id').innerText = programacao.id;
                            document.getElementById('programacao-id-in').innerText = programacao.id;

                            // Atualiza o valor do input 'cavalo' com o valor da coluna 'cavalo'
                            document.getElementById('cavalo').value = programacao.cavalo || ''; // Atualiza o valor do input
                            document.getElementById('carretas').value = programacao.carreta || ''; // Atualiza o valor do input
                            document.getElementById('inicio_programacao').value = programacao.datahora_inicio || ''; // Atualiza o valor do input
                            document.getElementById('final_programacao').value = programacao.datahora_fim || ''; // Atualiza o valor do input


                            final_programacao
                        });
                    });

                    let programacoesMotoristaDiv = document.getElementById('programacoes-motorista');
                    programacoesMotoristaDiv.innerHTML = '';
                    programacoesMotoristaDiv.appendChild(table);

                    // Inicializa o DataTables com ordenação desabilitada
                    $(`#programacoesTable`).DataTable({
                        "order": [], // Desabilita a ordenação inicial
                        "pageLength": 5 // Define o número de entradas por página
                    });

                } else {
                    // Limpa os campos
                    document.getElementById('pessoa').value = '';
                    document.getElementById('cavalo').value = '';
                    document.getElementById('carretas').value = '';
                    document.getElementById('final_programacao').value = '';
                    // Desabilita o botão "Liberar Acesso"
                    document.getElementById('liberar-acesso').disabled = true;

                    // Verifica se a lista de programações está vazia
                    programacoesMotoristaDiv.innerHTML = '<p>Nenhuma programação encontrada.</p>';
                }
            })
            .catch(error => {
                console.error('Erro ao atualizar as programações do motorista:', error);
                document.getElementById('programacoes-motorista').innerHTML = '<p>Erro ao carregar as programações.</p>';
            });
    }

    function enviarEventoContingencia(direcao) {
        // Coleta os dados do formulário
        const selectPessoa = document.getElementById("pessoa");
        const opcao = selectPessoa.options[selectPessoa.selectedIndex];
        const pessoaNome = opcao.getAttribute("data-pessoa-nome"); // Obtém o nome da pessoa
        const cpf = document.getElementById('cpf').value;
        const cavalo = document.getElementById('cavalo').value;
        const carretas = document.getElementById('carretas').value;
        const url = document.getElementById('placa').value; // Supondo que a placa seja o URL da imagem
        // Obtém o timestamp atual
        const timestamp = Math.floor(Date.now() / 1000);

        const jsonData = {
            'AttendanceState': '0',
            'CardName': pessoaNome, // Usando o nome da pessoa do atributo data-pessoa-nome
            'CardNo': cpf, // Usando o CPF do formulário
            'CardType': '0',
            'CreateTime': timestamp, // Ajuste conforme necessário
            'Door': '0',
            'ErrorCode': '0',
            'FaceIndex': '0',
            'HatColor': 'Other',
            'HatType': '0',
            'Mask': '0',
            'Method': '15',
            'Notes': '',
            'Password': '',
            'ReaderID': '1',
            'RecNo': '22783',
            'RemainingTimes': '0',
            'ReservedInt': '0',
            'ReservedString': '',
            'RoomNumber': '',
            'Status': '1',
            'Type': direcao === 'IN' ? 'Entry' : 'Exit', // Ajusta o tipo com base na direção
            'URL': url, // Usando a URL da imagem
            'UserID': '0',
            'UserType': '0',
            'direcao': direcao
        };

        fetch('/novo_evento_contingencia', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token() }}' // Adicione isto se usar CSRF no Flask
            },
            body: JSON.stringify(jsonData)
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Erro ao enviar o evento');
                }
            })
            .then(data => {
                console.log('Evento enviado com sucesso:', data);
                // Limpa os campos do formulário após o envio bem-sucedido
                document.getElementById('cpf').value = '';
                document.getElementById('cavalo').value = '';
                document.getElementById('carretas').value = '';
                document.getElementById('placa').value = '';
                document.getElementById('pessoa').value = ''; // Limpa o select de pessoa
                // Fecha o modal (Bootstrap) usando jQuery
                document.getElementById('inicio_programacao').value = '';
                document.getElementById('final_programacao').value = '';
                $('#entradaVeiculoModal').modal('hide');
                $('#placaModal').modal('hide');

                // Adicione aqui a limpeza de outros campos do formulário, se necessário
                // Exemplo: document.getElementById('outroCampo').value = '';
                // Mostra a mensagem de sucesso
                document.getElementById('alert-success-json').innerText = 'Evento enviado com sucesso!';
                document.getElementById('alert-success').style.display = 'block';

                setTimeout(function () {
                    document.getElementById('alert-success').style.display = 'none';
                }, 3000); // Oculta a mensagem após 3 segundos
            })
            .catch(error => {
                // Fecha o modal (Bootstrap) usando jQuery em caso de erro
                $('#entradaVeiculoModal').modal('hide');
                $('#placaModal').modal('hide');
                console.error('Erro ao enviar o evento:', error);
                // Mostra a mensagem de erro
                document.getElementById('alert-success-json').innerText = 'Erro ao enviar o evento: ' + error;
                document.getElementById('alert-success').classList.remove('alert-success');
                document.getElementById('alert-success').classList.add('alert-danger');
                document.getElementById('alert-success').style.display = 'block';

                setTimeout(function () {
                    document.getElementById('alert-success').style.display = 'none';
                    document.getElementById('alert-success').classList.remove('alert-danger');
                    document.getElementById('alert-success').classList.add('alert-success');
                }, 3000); // Oculta a mensagem após 3 segundos
            });
    }

    // Chama a função imediatamente ao carregar a página
    atualizarFilaMotoristas();
    // Atualiza a fila a cada 3 segundos
    setInterval(atualizarFilaMotoristas, 1000);
    // Chama a função updatePlaca a cada 3 segundos
    setInterval(updatePlaca, 1000);
    // Chama a função imediatamente ao carregar a página
    updatePlaca();
    // Chama a função updatePlacaBalanca a cada 3 segundos
    setInterval(updatePlacaBalanca, 1000);
    // Chama a função imediatamente ao carregar a página
    updatePlacaBalanca();
    // Chama a função updateCPF a cada 5 segundos
    // setInterval(updateCPF, 1000);
    // Chama a função imediatamente ao carregar a página
    // updateCPF();

</script>

{% endblock %}

{% include 'footer.html' %}